[project]
name = "htmx"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "flask>=3.1.2",
    "microdot>=2.3.4",
    "pydantic>=2.12.3",
]
